/*
	File:		main.scss - SASS Stylesheet for `notebook-2-app` pipeline application
	Transpile:	npx sass main.scss:main.css
	Author:		Ben Mullan 2024 for ((redacted)) 
*/

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

/* colours */
$c-off-black			: #4f4f4f;
$c-off-grey				: #b3b3b3;
$c-blue-primary			: #3385ff;
$c-blue-secondry		: #cce1ff;
$c-yellow-soft			: #fffffa;
$c-off-white			: #fafafa;

.off-black				{ color: $c-off-black; }
.off-grey				{ color: $c-off-grey; }

body {
	
	font-family:		"Cabin", sans-serif;
	font-weight:		400;
		
	/* Vertical distribution
	of header/main/footer */
	min-height:			100vh;
	display:			grid;
	grid-template-rows: auto 1fr auto;
	
}

.accordion-body			{ background-color: #f0f0f0; }
.accordion-button		{ padding: { top: 10px; bottom: 10px; } }

#error-msg {
	white-space:		pre;
	text-wrap:			pretty !important;
	&:before			{ content: "⚠\A"; }
}

.task-box {
	
	height:				24rem;
	min-height:			24rem;
	max-height:			38rem;
	
	width:				40rem;
	min-width:			40rem;
	max-width:			65rem;
	
	border: {
		width:			1px;
		radius:			12px;
		style:			solid;
		color:			$c-blue-primary;
	}
	
	--bs-border-opacity: .5;
	background-color:	$c-yellow-soft;
	transition:			width 1s, height 1s;
	
}

.task-box-title-seperator {
	margin:				0% 18%;
	border-top:			2px solid $c-blue-primary;
}

#task-box-progress-bubbles {
	
	list-style-type:		none;
	color:					$c-blue-primary;
	font-weight:			700;
	font-size:				2rem;
	
	& li {
		list-style-type:	none;
		display:			inline-block;
		width:				1.65rem;
		height:				1.65rem;
		
		border-width:		3px;
		border-style:		solid;
		border-radius:		50%;
		border-color:		$c-blue-primary;
		
		background-color:	$c-blue-secondry;
		color:				$c-off-black;
		/* font-weight:		600; */
		font-size:			1rem;
	}
	
}

#task-ui-mountpoint {
	height:					73%;
}

.task-ui-outer-div {
	
	@each $side in left, right {
		margin-#{$side}:	3%;
	}
	
	@each $side in top, bottom {
		margin-#{$side}:	2%;
	}
	
	height:					100%;
	
	display:				grid;
	grid-template-columns:	[left-edge] 1fr [right-edge];
	grid-template-rows:		[top-edge] 20fr [content-to-button-seperator] auto [bottom-edge];
	align-content:			space-between;
	row-gap:				10px;
	
}

#task-ui-content-div {
	
	overflow-y:			auto;
	
	grid: {
		column-start:	left-edge;
		column-end:		right-edge;
		row-start:		top-edge;
		row-end:		content-to-button-seperator;
	}
	
}

.next-task-button {
	
	justify-self:		end;
	
	grid: {
		column-start:	left-edge;
		column-end:		right-edge;
		row-start:		content-to-button-seperator;
		row-end:		bottom-edge;
	}
	
	padding: {
		top:			0.3rem;
		bottom:			0.3rem;
		left:			1.5rem;
		right:			1.5rem;
	}
	
}